# rename to .env
AZURE_RESOURCE_NAME=
AZURE_API_KEY=
AZURE_OPENAI_DEPLOYMENT_NAME=

connections__serviceConnection__settings__clientId=
connections__serviceConnection__settings__clientSecret=
connections__serviceConnection__settings__tenantId=

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*

DEBUG=agents:*:error,agents:*:info,agents:*:warning