tenantId=
clientId=
clientSecret=

AZURE_OPENAI_API_INSTANCE_NAME=
AZURE_OPENAI_API_DEPLOYMENT_NAME=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION="2024-06-01"

OPENAI_MODEL=
OPENAI_API_KEY=

USE_AZURE_OPENAI_API=true

DEBUG=agents:*:error