environmentId=127b164e-50eb-e1f3-9e9e-a3b54a865c16
botIdentifier=cr0d1_myTestAgent 
tenantId=18743834-d9d8-4376-aba7-5dba2dbe8c2a
appClientId=3be1aa5f-e633-437a-bf2b-9a8b6627195c

# cloud= # PowerPlatformCloud enum key.
# customPowerPlatformCloud= # Power Platform API endpoint to use if Cloud is configured as "Other"
# copilotBotType="" # BotType enum key.
DEBUG="copilot-studio-client"