environmentId=
agentIdentifier=
tenantId=
appClientId=
# cloud= # PowerPlatformCloud. eg 'Cloud | Gov'
# customPowerPlatformCloud= # Power Platform API endpoint to use if Cloud is configured as "Other"
# agentType="" # AgentType enum. eg 'Published'
DEBUG=copilot-studio-client:error